.about-header {
    width: 100%;
    height: 40vh;

    margin-top: 10px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-text-big {
    position: absolute;
    color: white;
    /* top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); */

    float: left;

    margin: 10% 10% 10% 10%;

    font-size: 4vw;
    font-weight: 500;
}

.about-middle {

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    align-items: flex-start;
    /* 
    position: relative; */

    /* height: 100vh; */

    margin-top: 10%;
    margin-bottom: 10%;

}

.about-middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;



    margin-right: 40px;
}

.about-middle-img {
    margin-left: 80px;
    margin-right: 40px;
    margin-top: 5%;

}

.about-middle-text-big {
    color: red;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.about-middle-text-small {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;

}

.about-middle-img img {
    max-width: 50vw;
}


.about-middle-img img {}

@media (max-width: 1000px) {
    .about-middle {

        display: flex;
        flex-direction: column-reverse;
        /* flex-wrap: wrap; */

        align-items: center;
        /* 
        position: relative; */

        /* height: 100vh; */

        margin-top: 10%;
        margin-bottom: 10%;

    }

    .about-middle-text-big {
        color: red;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .about-middle-text-small {
        font-size: 1rem;
        font-weight: 400;
        text-align: justify;

    }

    .about-middle-text {
        margin-right: 20px;
        margin-left: 20px;
    }

    .about-middle-img img {
        max-width: 90%;
    }

    .about-text-big {
        font-size: 3rem;
        font-weight: 500;
    }
}