.services-middle {

    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;

    margin-top: 5%;

}

@media (max-width: 1000px) {
    .services-middle {
        flex-direction: column-reverse;
    }
}