* {
  padding: 0px;
  margin: 0px;

}

body {
  margin: 0;
  padding: 0px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: white;
  --bg-accent: #484a4d;
  --text-color: #242526;
  --nav-size: 100px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: fit-content;
  background-color: var(--bg);
  padding: 0 1rem;

  /* position: relative; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  position: sticky;
  top: 0px;

  z-index: 2;
}

.navbar-burger {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar-burger .bar {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding-left: 10vh;
  padding-right: 10vh;

  background-color: white;
}

.nav-item {
  margin-left: 10px;
  padding: 15px;
  position: relative;

}

.nav-item:hover {
  background-color: #F5F5F5;
}

.nav-item:hover>.drop {
  visibility: visible;
  opacity: 1;
}



.nav-item-link {
  color: #242526;
  transition: color var(--speed);
}

.nav-item-link:hover {
  color: red;
}

.nav-item-active {
  margin-left: 30px;
  padding: 15px;
  color: red;
}

.nav-item-inactive {
  margin-left: 30px;
  padding: 15px;
  color: black;
}



/* .nav-button {} */

.logo-div {
  margin-left: 5vh;
  margin-right: 5vh;

}

.logo {
  height: 90px;
  width: 90px;
}

.footer-icon {
  height: 20px;
  width: 20px;
}

/* .vertical-line {
  border-left: 1px solid grey;
  border-style: outset;
  height: calc(var(--nav-size) * 0.8);
  margin: 10px;
  display: inline-block;
} */


.footer {

  background-color: #95a5a6;

  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  filter: opacity(60%);
  color: white
}

.footer-logo {
  height: 100%;
  display: flex;

  flex-direction: row;
  justify-content: center;

  padding: 20px 0px 20px 0px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
}

.footer-certification {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.footer-certification-logo {
  margin-left: 20%;
}

.footer-certification-text {

  text-align: justify;

  font-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;

  flex: 3;
}

.footer-contact-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 200%;
}

.footer-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  flex-wrap: wrap;
}

.contact-method {

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-address-header {
  margin: 10px 20px 0px 10px;
}

.footer-phone-header {
  margin: 10px 20px 0px 10px;
}

.footer-phone-header {
  margin: 10px 20px 0px 10px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 500;

}

.active-nav-button {
  color: red;
}

.drop {
  position: absolute;
  left: 0px;
  top: 45px;
  background-color: #F5F5F5;
  /* border-radius: 5px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}


.drop-item {
  position: relative;
  /* padding: 5px 10px 5px 10px; */
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #D3D3D3;
}

.drop-sub {
  position: absolute;
  top: -0px;
  left: 100%;
  background-color: #F5F5F5;
  /* border-radius: 5px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

}

.drop-item-sub {
  padding: 10px 10px 10px 10px;
  border: 1px solid #D3D3D3;
  /* border-radius: 5px; */
  border-top: none;
}

.drop-item-sub-first {
  padding: 10px 10px 10px 10px;
  border: 1px solid #D3D3D3;
  /* border-radius: 5px; */
  border-left: none;
}

.desk-nav {
  display: flex;
}

.mob-nav {
  display: none;
}





@media (max-width: 1000px) {
  .navbar-burger {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
    /* position: absolute;
    top: 100px; */
  }

  .navbar {
    flex-direction: column;
  }

  .drop {
    position: relative;
  }

  .drop-sub {
    position: static;

  }

  .desk-nav {
    display: none;
  }

  .mob-nav {
    display: flex;
  }

  .footer {
    filter: opacity(70%);
    color: white;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    margin: 10px 1px 10px 1px;
  }

  .footer-certification-text {
    margin-right: 10%;
  }

  .footer-certification {
    margin-bottom: 20px;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .logo-div {
    margin-left: 5px;
    margin-right: 5px;

  }

}